*{
    margin: 0;
    padding: 0;
    background: #2e353d;
}
.menuButton{
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    background: #007b32;
    text-align: center;
    cursor: pointer;
}
.menuButton:hover{
    background: #009641;
}
#game{
    border-collapse: collapse;
    margin: 2% auto 0;
}
#menu{
    display: flex;
    justify-content: center;
}
td.cell{
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}
.food{
    background: #00d021;
}
.rock{
    background-color: #000;
}
.snakeBody{
    background: #e5e5e5;
}
.snakeHead{
    background: #9b0013;
}
.disabled {
    background: #7c7c7c;
}
.disabled:hover{
    background: #7c7c7c;
}

.check-container{
    width: 720px;
    border: 1px solid #000;
    background-color: #7c7c7c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
}

.checker{
    height: max-content;
    border: 1px solid #000;
    background-color: darkgray;
}

.win-checker{
    height: max-content;
    border: 1px solid #000;
    background-color: darkgray;
}